# Python
venv/
backend/venv/
__pycache__/
*.pyc

# React
node_modules/
frontend/node_modules/

# Environment
.env
backend/.env
frontend/.env

# Build files
dist/
build/

# VS Code
.vscode/

# Uploads
backend/uploads/